/* You can add global styles to this file, and also import other style files */
.small-flag{
    width: 50px;
}
.mr-1{
    margin-right: 5px;
}
body{
    background-color: rgb(61, 60, 60);
}
.white{
    color: aliceblue;
}
@media (max-width: 415px) {
    h2{
        display: none;
    }
}
